@page "/search"
@using Shared 

<PageTitle>Search</PageTitle>

<h1>What would you like to search for?</h1>
<input type="text" @bind="userInput">
<button @onclick="Search">Search</button>
<div>
    Case Sensitive:
    <input type="checkbox" @bind="caseSensitive">
</div>

@if (result.Hits != 0)
{
    <p>Results found in total @result.Hits</p>
    @foreach (var item in result.DocumentHits)
    {
        <ul>
            <li>@item.Document.mUrl</li>
        </ul>
    }
}
else
{
    <h4>No results found</h4>
}

@code{
    SearchLogic search = new SearchLogic(new Database());
    string userInput = "";
    static String[] query = new string[0];
    bool caseSensitive = false;
    SearchResult result = new SearchResult(query, 0, new List<DocumentHit>(), new List<string>(), TimeSpan.Zero);
    private void Search()
    {
        query = userInput.Split(" ", StringSplitOptions.RemoveEmptyEntries);
        result = search.Search(query, 10, caseSensitive);
        
    }
}