@page "/search"
@using Core 

<PageTitle>Search</PageTitle>

<h1>What would you like to search for?</h1>
<input type="text" @bind="query">
<button @onclick="Search">Search</button>
<div>
    Case Sensitive:
    <input type="checkbox" @bind="caseSensitive">
</div>

@if (result != null)
{
    <p>Results found in total @result.Hits</p>
    @foreach (var item in result.DocumentHits)
    {
        <ul>
            <li>@item.Document.mUrl</li>
        </ul>
    }
}
else
{
    <h4>No results found</h4>
}

@code{
    private ISearchLogic searchLogic = SearchFactory.GetProxy();
    private string query = "";
    private bool caseSensitive = false;
    private SearchResult? result;
    private void Search()
    {
        result = searchLogic.Search(query.Split(" "), 10, caseSensitive);
    }
}